# Ignorar archivos compilados de Python
*.pyc
*.pyo
*.pyd
# Ignorar el directorio de caché de Python

__pycache__/

# Ignorar la base de datos SQLite

db.sqlite3
# Ignorar directorio de medios (si se utiliza para archivos subidos por el usuario)

media/
# Ignorar directorios de entornos virtuales
lab08/
ENV/
venv/
ENV.bak/
venv.bak/
.Python
# Ignorar directorios y archivos generados por setuptools
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Ignorar archivos de respaldo y swap

*.bak
*.swp
*.swo
