<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form method="post" action="">
        {% csrf_token %}
        <label for="first_name">Nombre:</label>
        <input type="text" name="first_name" required>
        <label for="last_name">Apellido:</label>
        <input type="text" name="last_name" required>
        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username" required>
        <label for="email">Correo electrónico:</label>
        <input type="email" name="email" required>
        <label for="password1">Contraseña:</label>
        <input type="password" name="password1" required>
        <label for="password2">Confirmar contraseña:</label>
        <input type="password" name="password2" required>
        <button type="submit">Registrarse</button>
    </form>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</body>
</html>